# ==========================================
# Application
# ==========================================
APP_NAME=AI Core Service
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true


# ==========================================
# AI Provider
# ==========================================
AI_PROVIDER=openrouter
OPENROUTER_API_KEY=

AI_MODEL=google/gemma-3-27b-it:free
TEMPERATURE=0.0
MAX_TOKENS=1024